
<h1>WebPage Watcher</h1>
<p>Tool designed to allow a user to run and save data from <a href="http://www.webpagetest.org">WebPageTest.org</a></p>
<p>visit project github page <a href="https://github.com/nateude/webpagewatcher">github.com/nateude/webpagewatcher</a> for more details</p>

<h2>Gloabl Configuration</h2>
<ul>
  <li>
    <strong>WebPageTest API Key:</strong>
    <% if WebPageTestConfig.api_key %>
       <%= WebPageTestConfig.api_key %>
    <% else %>
      API Key Missing
    <% end %>
  </li>
</ul>
