// Size & Measurments
$base-size: 15px;
$header-height: 45px;
$base-spacing: 20px;
$top-header-height: 60px;


//== Media queries breakpoints

// Grid
$screen-xs-min: 0px;
$screen-xs-max: 575px;
$screen-sm-min: 576px;
$screen-sm-max: 767px;
$screen-md-min: 768px;
$screen-md-max: 993px;
$screen-lg-min: 992px;
$screen-lg-max: 1199px;
$screen-xl-min: 1200px;

$spacing: 15px;
$spaced-count: 4;
$columns: 12;
