.alert {
  margin-top: $base-spacing;
  padding: $base-spacing * 0.5  $base-spacing;
  color: $blue;
  background: rgba($blue, 0.2);

  &.alert-error,
  &.alert-warning {
    color: $red;
    background: rgba($red, 0.2);
  }
}
