header {
  background: $grey;
  color: $grey-lt;
  padding: 0;
  border-bottom: 2px solid $black;
  position: relative;
  z-index: 1000;

  a {
    color: $grey;
    &:hover {
      color:$link-hover;
    }
  }

  .logo {
    font-size: 1.2em;
    font-weight: $bold;
    text-transform: uppercase;
    padding: $base-spacing * 0.25 0;
    color: white;

    &:hover {
      color: white;
    }
  }
}
