header {
  background: $black-dk;
  color: $grey-lt;
  padding: 0;

  a {
    color: $grey;
    &:hover {
      color:$link-hover;
    }
  }

  .logo {
    font-size: 1.5em;
    font-weight: $bold;
    text-transform: uppercase;
    padding: $base-spacing 0;
    color: white;

    &:hover {
      color: white;
    }
  }
}
