nav {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-block;
  }
  &.top-nav {
    ul {
      border-right: 1px solid $black;
    }
    li{
      border-left: 1px solid $black;
    }
    a {
      padding: $base-spacing * 0.25 $base-spacing;
      color: white;
      background-color: transparent;
      &:hover {
        background: $black;
        color: white;
      }

      &.btn {
        border: 1px solid $black;
        padding: 10px;
        font-weight: $normal;
      }
    }
  }
}
